html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

#firstname{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#lastname{
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0px;
}
#emailf{
  margin-bottom: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
    
}
#ogo12{
    position: relative;
    left: 502px;
}
#capybara{
  position: relative;
  top: -10px;
  left: 50px;
}